@inject IConfiguration Configuration
@{    
    var loginActionUrl = "/Signin";    
    var currentUrl = Context.Request.Path + Context.Request.QueryString;
}
@if (!User.Identity.IsAuthenticated)
{
    <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="post" action="@loginActionUrl">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="returnUrl" value="@currentUrl" />
                        <div class="center">
                            <button type="submit" class="btn btn-primary">Sign-in to Agience</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/loginModal.js" asp-append-version="true"></script>
}
