<div class="overlay">
    <MudContainer Class="d-flex justify-center align-center" Style="height: 100vh;">
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Medium" />
    </MudContainer>
</div>
