@using CurrieTechnologies.Razor.Clipboard
@inject ClipboardService clipboard

<MudDialog>
    <DialogContent>
        <h3>Warning! Please copy the credentials and store them in a safe place. You will not be able to see the secret again.</h3>
        <br />
        <MudTextField T="string" Lines="2" Label="Credentials" Value="@EnvContent" ReadOnly="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.ContentCopy" OnAdornmentClick="CopyToClipboard" />
       
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = null!;
    [Parameter] public string? KeyName { get; set; }
    [Parameter] public string? HostId { get; set; }
    [Parameter] public string? HostSecret { get; set; }

    private void Close() => MudDialog.Close();

    private string EnvContent => $"HostId={HostId}\nHostSecret={HostSecret}";

    private async Task CopyToClipboard()
    {
        await clipboard.WriteTextAsync(EnvContent);
    }
    }