@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
}

.body-container {
    font-family: "DM Sans", 'Sans Serif Collection', sans-serif;
}

    .body-container a {
        color: #2a0052;
    }

        .body-container a:hover {
            color: #760779;
        }

    .body-container button {
        background-color: #2a0052;
        border-color: #2a0052;
    }

        .body-container button:hover {
            background-color: #760779;
        }

.header, .footer {
    background-color: #fff;
    color: #2a0052;
    padding: 10px;
    text-align: center;
}

#header-logo {
    height: 80px;
}

.header {
    vertical-align: bottom;
    height: 92px;
}

    .header .header-left {
        float: left;
    }

    .header .header-right {
        float: right;
        width: 200px;
        height: 100%;
    }

    .header .icons {
        width: 50%;
        float: left;
    }

    .header .profile {
        margin-left: 50%;
        text-align: right;
        vertical-align: bottom;
    }

    .header .tagline {
        font-size: 9px;
        margin-top: -14px;
        font-weight: bold;
        text-align: center;
    }

.user-name {
    font-weight: bold;
}

.content-container {
    background-color: #fbfafc;
    padding: 20px;
}

/* Tab Containers */
.tab-container {
    width: 100%;
}

.tab-container-header {
    margin-bottom: -2px;
    display: flex;
}

.tab-container-name {
    text-align: center;
    font-weight: bold;
    border: 2px solid #ccc;
    border-radius: 5px 5px 0 0;
    width: 153px;
    flex-shrink: 0;
}

.tab-header-item {
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
}

    .tab-header-item button {
        background-color: #fbfafc;
        border: none;
        height: 100%;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        color: #2a0052;
        border-radius: 5px 5px 0 0;
    }

    .tab-header-item.active button {
        background-color: #bdb0c9;
    }

    .tab-header-item:not(.active) button:hover {
        background-color: #eeebf1;
    }

.tab-container-content {
    display: flex;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 0 5px 5px 5px;
}

.left-column {
    width: auto;
    display: inline-block;
    vertical-align: top;
    flex-shrink: 0;
}

    .left-column ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        border-collapse: collapse;
    }

.tab-page-item {
    display: block;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fbfafc;
}

    .tab-page-item button {
        background-color: #fbfafc;
        border: none;
        height: 100%;
        width: 100%;
        padding: 5px 10px;
        box-sizing: border-box;
        color: #2a0052;
    }

    .tab-page-item.active button {
        background-color: #bdb0c9;
    }

    .tab-page-item:not(.active) button:hover {
        background-color: #eeebf1;
    }

.right-column {
    flex-grow: 1;
    flex-direction: column;
    border-left: 2px solid #ccc;
}

.tab-page {
    width: 100%;
}

    .tab-page p {
        margin: 10px 5px;
    }

    .tab-page .tab-content {
        display: block;
    }

.tab-content .tab-page-content {
    display: block;
    padding: 10px;
    overflow: auto;
    flex-grow: 1;
    border-radius: 0 5px 5px 5px;
    font-weight: bold;
}

.tab-page-content-action {
    margin-right: 10px;
    padding-bottom: 10px;
    width: 200px;
}

.form-control {
    margin-bottom: 10px;
}

.tab-page-content-header {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
}

.tab-page-content-header-cell {
    flex: 1;
}

.tab-page-content-header-cell-action {
    margin: 0 5px;
    width: 200px;
}

.tab-page-content-list {
    list-style-type: none;
    padding: 0;
}

.tab-page-content-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.tab-page-content-list-item-cell {
    flex: 1;
    padding-right: 10px;
}

.tab-page-content-list-item-action {
    margin: 0 5px;
    padding-bottom: 10px;
    width: 200px;
}

.tab-page-top, .tab-page-bottom {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.tab-page-bottom {
    margin-top: 10px;
}

.tab-page-bottom-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0 5px;
}

.tab-page-bottom-content-cell {
    flex: 1;
    padding-right: 10px;
}

.tab-page-bottom-content-action {
    margin: 0;
    padding-bottom: 10px;
    width: 200px;
}

.full-width {
    width: 100%;
}

.tab-page-top-content {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    overflow-y: scroll;
    height: 300px;
    padding: 10px;
    margin: 5px;
    font-weight: normal;
}

.chat-message {
    padding: 10px 15px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 1px solid #eee;
    word-wrap: break-word;
}

.chat-message-incoming {
    background-color: #a569bd99;
    margin-right: auto;
    max-width: 50%;
    width: auto;
    display: flex;
    min-width: 8%;
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    border-bottom-left-radius: 0rem;
    background: linear-gradient(135deg, #a569bd, #b67cdb, #d8b2e5);
}

.chat-message-outgoing {
    background-color: #609ffd99;
    margin-left: auto;
    max-width: 50%;
    width: auto;
    display: flex;
    min-width: 8%;
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
    border-bottom-right-radius: 0rem;
    background: linear-gradient(135deg, #a0d4f9 , #76b2e8, #609ffdfa);
}

/* Modal */
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2%;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    justify-content: center;
    align-items: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

    .close-button:hover, .close-button:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

#keyName, #generateKeyButton {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

#generateKeyButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

    #generateKeyButton:hover {
        background-color: #45a049;
    }

#loadingSpinner {
    display: none;
    margin-top: 10px;
    text-align: center;
}

#toastContainer {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Accordion */
/* Rename to list-accordion because it conflicts with boostrap library. */

.list-accordion {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-accordion-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.list-accordion-toggle,
.list-accordion-status {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-accordion-toggle {
    cursor: pointer;
}

.list-accordion-carat,
.list-accordion-bullet {
    padding: 0 5px 0 10px;
    font-size: 1.2em;
    width: 30px;
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}

.list-accordion-carat.down {
    transform: rotate(90deg);
    transition: transform 0.2s ease;
}



.list-accordion-item {
    display: block;
}

.list-accordion-item,
.list-accordion-sub-item {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    display: block;
    box-sizing: border-box;
}

    .list-accordion-item button,
    .list-accordion-sub-item button {
        background: none;
        border: none;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        color: #2a0052;
        text-align: left;
        padding: 5px 10px;
    }

    .list-accordion-item button {
        padding: 5px 10px 5px 5px;
        font-weight: bold;
    }

        .list-accordion-item button:hover {
            background: none;
        }

.list-accordion-sub-item {
    display: none;
}

    .list-accordion-sub-item.expand {
        display: block;
    }

    .list-accordion-sub-item button {
        padding: 5px 10px 5px 10px;
        font-weight: normal;
    }

.list-accordion-label.active {
    background-color: #bdb0c9;
}

.list-accordion-label:not(.active):hover {
    background-color: #eeebf1;
}

.loader {
    width: 60px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}

@keyframes l7 {
    33% {
        background-size: calc(100%/3) 0%,calc(100%/3) 100%,calc(100%/3) 100%
    }

    50% {
        background-size: calc(100%/3) 100%,calc(100%/3) 0%,calc(100%/3) 100%
    }

    66% {
        background-size: calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%
    }
}

.tooltip-inner {
    max-width: 300px !important;
    background-color: #444444 !important;
}

.height-30 {
    height: 30pt;
}