@page
@model Agience.Authority.Identity.Pages.ContactModel
@{
}
<h2>Contact Us</h2>

<p>If you have any questions, feedback, or need support, please reach out to us at:</p>

<p><strong>Email:</strong> <a href="mailto:support@agience.ai">support@agience.ai</a></p>

<p>We look forward to hearing from you!</p>